@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selman Ağırman</h1>
    <p>
        Formu doldurarak bizimle iletişime geçebilirsiniz 
        <a class="btn btn-primary"asp-controller="Course" asp-action="Apply">
        Apply
        </a>
        </p>
</div>
